*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}
.search-home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    min-height: 100vh;
   
}
.search-box{
    display: flex;
    border: 1px solid rgb(9, 119, 223);
    border-radius: 2px;
    width: 33vw;
    height: 40px;
    gap:0px;
}
.search-box #search-text{
    border: none;
    background-color: transparent;
    /* background-color: red; */
    outline: none;
    padding:0px;
    padding-left: 10px;
    padding-right: 0px;
    margin: 0px;
    width: 75%;
    height: 100%;
    
}

.search-box #clear{
    border: none;
    background-color: transparent;
    /* background-color: green; */
    outline: none;
    padding: 2px;
    width: 8%;
    height: 100%;
    margin: 0px;
    font-size: 1.2em;
    color: gray;
}
.search-box #submit{
    width: 17%;
    height: 100%;
    margin: 0px;
    border: none;
    outline: none;
    background-color: rgb(24, 155, 155);

    /* background-color: brown; */
}
.wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    gap:5px;
}
.filter{
    width: 40%;
    padding: 20px;
    gap:5px;
    font-size: 1.2em;
    border: 1px solid #1490a6;
    min-height: 100vh;
}
h6,.filter input{
    color: #1490a6;
}

.custom-date-filter{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.keywords{
    width: 50%;
    padding: 20px;
    gap:5px;
    font-size: 1.2em;
    border: 1px solid #1490a6;
    margin-left: auto;
    min-height: 100vh;
}
li{
    list-style-type:none;
}
@media screen  and (max-width: 720px) {
    .wrapper{
        flex-direction: column;
    }
    .search-box{
        width: 90vw;
    }
    .filter,.keywords{
        width: 100%;
        min-height: auto;
    }
}

/* #1490a6 */