*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}
.filter{
    padding-left: 20px;
    font-size: 1.2em;
}

.custom-date-filter{
    display: flex;
    flex-direction: column;
    gap:5px;
}