{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    <div class="filter">
        <h6>Filter by count</h6>
        <div class="date-list">
            <div class="count-filter">
                <input type="checkbox" class="checkbox" name="count20" id="count20">
                <label for="count20">Found 20 times</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox" name="count10" id="count10">
                <label for="count10">Found 10 times</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox" name="count5" id="count5">
                <label for="count5">Found 5 times</label>
            </div>
        </div>

        <h6>Filter by date</h6>
        <div class="date-list">
            <div class="date-filter">
                <input type="checkbox" class="checkbox" name="day" id="day">
                <label for="day">From yester day</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox" name="week" id="week">
                <label for="day">From last week</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox" name="month" id="monthy">
                <label for="month">From last month</label>
            </div>
        </div>
        <h6>Users</h6>
        <div class="users-list">

        </div>
       
     
        
        
    </div>


    <div class="keywords">
        <h6>Keywords</h6>
        <ul  class="keywords-list">
            <!-- {% for item in keywords%}
                <li>{{item.keyword}} | {{item.user}} | {{item.search_date}}</li>
            {% endfor %} -->
            
        </ul>

    </div>
<script> 
    // alert('js loaded again')
    //testAlert('test')
   
    fetch('/data')
    .then( response => response.json())
    .then( result => {
        //console.log(result)
        const keywords=result[0]
        const users=result[1]
        const searchHistory=result[2]
        const keywordList = document.getElementsByClassName('keywords-list')[0]
        const userList = document.getElementsByClassName('users-list')[0]
        console.log(keywordList)
        console.log(userList)
        users.forEach(user =>{
            //console.log(user)
            userList.innerHTML+= `<div class="user-filter">
                    <input type="checkbox" class="checkbox" name="${user.username}" id="${user.id}">
                    <label for="${user.id}">${user.username}</label>
                </div>`;
        })
        keywords.forEach(item => {
            //console.log(item)
            keywordList.innerHTML += `<li>${item.name} ( found ${item.count} times) </li>`
        });
        console.log('should called first')
        getCheckboxs(keywords)
        
        })
        
        
        ///testAlert('test')
    // const keywords = '{{ keywords }}'
    // console.log(keywords)
    //const filteredKeywords = filterKeywords(keywords)
    
        
</script>
</div>

{% endblock %}