{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    <div class="filter">
        <h6>Filter by count</h6>
        <div class="count-list">
            <div class="count-filter">
                <input type="checkbox" class="checkbox count" name="count20" id="count20">
                <label for="count20">Found 20 times</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox count" name="count12" id="count12">
                <label for="count12">Found 12 times</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox count" name="count8" id="count8">
                <label for="count8">Found 8 times</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox count" name="count1" id="count1">
                <label for="count8">No Filter</label>
            </div>
        </div>

        <h6>Filter by date</h6>
        <div class="date-list">
            <div class="date-filter">
                <input type="checkbox" class="checkbox date" name="day" id="day">
                <label for="day">See data from yesterday</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox date" name="week" id="week">
                <label for="week">See data from last week</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox date" name="month" id="month">
                <label for="month">See data from last month</label>
            </div>
            <div class="date-filter">
                <input type="checkbox" class="checkbox date" name="anytime" id="anytime">
                <label for="anytime">Anytime</label>
            </div>
        </div>
        <h6>Select Date:</h6>
        <div class="custom-date-input">
            <div class="custom-date-filter">
                <input type="date" id='start-date' class="custom-date-input"/>
                <input type="date" id='end-date' class="custom-date-input"/>
            </div>
        </div>
        <h6>Users</h6>
        <div class="users-list">

        </div>
       
     
        
        
    </div>


    <div class="keywords">
        <h6>Keywords</h6>
        <ul  class="keywords-list">
            <!-- {% for item in keywords%}
                <li>{{item.keyword}} | {{item.user}} | {{item.search_date}}</li>
            {% endfor %} -->
            
        </ul>

    </div>
<script> 
    // alert('js loaded again')
    //testAlert('test')
   
    fetch('/data')
    .then( response => response.json())
    .then( result => {
        //console.log(result)
        const keywords=result[0]
        const users=result[1]
        const searchHistory=result[2]
        const keywordList = document.getElementsByClassName('keywords-list')[0]
        const userList = document.getElementsByClassName('users-list')[0]
        console.log(keywordList)
        console.log(userList)
        users.forEach(user =>{
            //console.log(user)
            userList.innerHTML+= `<div class="user-filter">
                    <input type="checkbox" class="checkbox by-user" name="${user.username}" id="${user.id}">
                    <label for="${user.id}">${user.username}</label>
                </div>`;
        })
        keywords.forEach((item,i) => {
            //console.log(item)
            keywordList.innerHTML += `<li>${i+1}. ${item.name} ( found ${item.count} times) </li>`
        });
        console.log('should called first')
        getCheckboxs(keywords)
        customDateFilter()
        })
        
        
        ///testAlert('test')
    // const keywords = '{{ keywords }}'
    // console.log(keywords)
    //const filteredKeywords = filterKeywords(keywords)
    
        
</script>
</div>

{% endblock %}